.navstyles{
    text-decoration: none;
    padding: 4px 4px;
}

.grey{
    color: grey;
}

.border-left-warning{
    border-left: 0.25rem solid #f6c23e;
}
.border-left-success{
    border-left: 0.25rem solid #1cc88a;
}
.border-left-primary{
    border-left: 0.25rem solid #4e73df;
}

footer{
    margin-top: 140px;
}