
.styleul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;

}

nav li{
    float: left;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;

}

nav li a:hover{
    background-color: gold;
}

.homepage{
    background-image: url("../images/gbvre.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}
.hrstext{
    color: white;
    text-align: center;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}

.buttonhr{
    background: gold;
    width: 60%;
    padding: 14px 20px;
    border-radius: 12px;

}

.center{
    text-align: center;
}

nav , section {
    margin: 3px;
    padding: 2px;

}

.flexbox{
    display: flex;
}

#about p {
    border: 2px solid gold;
    margin: 5px;
    padding: 15px;
}

.flex-contain{
    display: flex;
}

.flex-contain > div {
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 30px;

}

#gallery img {
    border-radius: 50%;
}

.flexbox >div{
    margin: 3px;
    padding: 3px;
}