
.styleul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;

}

nav li{
    float: left;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;

}

nav li a:hover{
    background-color: gold;
}

.homepage{
    background-image: url("../images/gbvre.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}
.hrstext{
    color: white;
    text-align: center;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}

.buttonhr{
    background: gold;
    width: 60%;
    padding: 14px 20px;
    border-radius: 12px;

}