form{
    border: 1px solid black;
    background-color: beige;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.inputstyle{
    width: 20%;
    padding: 10px 15px;

}

#emailstyle{
    width: 20%;
    padding: 12px 15px;
}

.divstyle{
    padding: 10px;

}