
.styleul{
    list-style-type: none;
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav {
    margin: 3px;
    padding: 3px;
}

nav li {
    float: left;
}
nav li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 15px;
}
nav li a:hover {
    background-color: coral;
}

.wrimage{
    background-image: url("../images/background.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.wrtext{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50% ,-50%);
}
.wrbutton{
   padding: 12px 12px;
    width: 50%;
    background-color: coral;
    border-radius: 12px;

}

.flexbox{
    display: flex;
}

.center{
    text-align: center;
}

.roundimage{
    background-image: url("../images/water1.jpeg");
    width: 200px;
    height: 150px;
    border-radius: 25px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    margin: 10px;
    padding: 12px;
}

.flexbox >div {
    margin: 8px;
    padding: 5px;

}

.flex-box{
    display: flex;
}

#gallery img {
    border-radius: 50%;
}

section {
    margin: 3px;
    padding: 3px;
}